<footer>
    <div class="testo">
        <h1>L'insegnante su misura per te</h1>
        <p>Solo insegnanti selezionati per garantirti la massima serieta' e professionalita'</p>
        <h1>Assistenza h24</h1>
        <p>Oltre alle lezioni prefissate, i docenti rimarranno sempre a disposizione per supportarti nello studio</p>
        <h1>Ora prova gratuita</h1>
        <p>Prenota ora un'ora prova gratuita per valutare il servizio senza alcun impegno</p>
    </div>
    <button id="prenota" routerLink="/Login">Prenota ora</button>
</footer>
