@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-image: url("../assets/img/bg.png");
}
